.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blanco;
  padding: $separacion / 2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;    
  & p {
    font-size: 1.5rem;
  }  
  @include tablet {
    height: 8rem;   
      & p {
        font-size: 2rem;
      }
  }
}