.main-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.contenedor-listas {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.lista {
  background-color: $blanco;
  border: 1px solid $gris;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 80rem;
  text-align: center;
}

.lista p {
  margin: 0;
}
.lista-listas {
  cursor: pointer;
}

.main-lista form {
  display: flex;
  flex-direction: column;  
}
.main-lista .nombre {
  padding: 1.5rem;
  border: 1px solid $gris;
  border-radius: 0.8rem;
  background-color: white;
  width: 40rem;    
  margin-bottom: 2rem;
}
.main-lista form button {
  padding: 2rem;
  background-color: $amarillo;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  color: $blanco;
}
.main-lista form button:hover {
  background-color: rgb(231, 166, 25);
  color: $negro;
  cursor: pointer;
}