.main-tipos {
  display: flex;
  flex-direction: column;  
  margin-bottom: 10rem;
}
.contenedor-tipos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contenedor-tipos .tipo {
  background-color: $blanco;
  border: 1px solid $gris;
  border-radius: 1rem;
  padding: 1rem;
  width: 40rem;
  text-align: center;
}

.contenedor-tipos .tipo p {
  margin: 0;
}
.main-tipos form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-tipos form button {
  padding: 2rem;
  background-color: $amarillo;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
  color: $blanco;
  width: 40rem;
}
.main-tipos form button:hover {
  background-color: rgb(231, 166, 25);
  color: $negro;
  cursor: pointer;
}
.main-tipos .nombre {
  padding: 1.5rem;
  border: 1px solid $gris;
  border-radius: 0.8rem;
  background-color: white;
  width: 40rem;  
  margin-bottom: 2rem;    
}