.alerta {
  padding: 1rem;
  text-align: center;
  color: $blanco;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0;

  &.error {
    background-color: $rojo;
  }

  &.exito {
    background-color: $verde;
  }
}


.lista {  
  margin: 4rem auto 0 auto;
  width: 100%;
  border-spacing: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .izquierda {
    text-align: left;
  }

  .imagen-tabla {
    width: 8rem;
    margin: 0 auto;
  }
  .boton-rojo-block {
    margin-top: 0;
  }
  .boton-amarillo-block {
    margin-top: 1rem;
  }
}

.imagen-small {
  width: 20rem;
}
