@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
@import 'base/botones';

/** UI **/
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navegacion';
@import 'layout/listasIndex';
@import 'layout/productos';
@import 'layout/lista';
@import 'layout/tipos';
@import 'layout/categorias';
@import 'layout/listaProductos';
@import 'layout/lista-cat-prod';
@import 'layout/formulario';

/** Paginas Internas **/
@import 'internas/admin';
